.right {
    margin-left: 1090px;
    margin-top: 50px;
}
.menu-open{
    height: 40px;
    margin-left: 25px;
    margin-top: 10px;

}
.user-menu{
    margin-left: 1000px;
}
.notifications-menu{
    margin-left: 950px;
    margin-bottom: -55px;
}